* {
    box-sizing: border-box;
}

.body {
    background-color: #fcf9f9;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.main {

}

h1 {
    justify-content: center;
}

input:checked + span {
    text-decoration: line-through;
}